<div class="content">
    <div class="title">
        <h2>Search Laws</h2>
    </div>

    <div class="search-enclosure">
        <mat-form-field>
            <mat-label>Field</mat-label>
            <mat-select [(ngModel)]="field">
                <mat-option>None</mat-option>
                <mat-option value="law">Law</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="search">
            <mat-label>Value</mat-label>
            <input [(ngModel)]="value" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Operator</mat-label>
            <mat-select [(ngModel)]="operator">
                <mat-option>None</mat-option>
                <mat-option [value]="searchOpetator.AND">AND</mat-option>
                <mat-option [value]="searchOpetator.OR">OR</mat-option>
                <mat-option [value]="searchOpetator.NOT">NOT</mat-option>
            </mat-select>
        </mat-form-field>
        <button class="button" mat-raised-button (click)="addToken()">
            <span class="material-icons icon-color">add</span>
            Add token
        </button>
        <button class="button" mat-raised-button (click)="search()">
            <span class="material-icons icon-color">search</span>
            Search
        </button>
    </div>

    <div class="token-container" >
        <ng-container *ngFor="let token of searchOptions">
            <div class="token">
                {{token}}
            </div>
        </ng-container>
    </div>

    <div class="search-result-container">
        <ng-container *ngFor="let contract of searchResults">
            <div class="search-result">
                <a class="search-result-title" (click)="downloadDocument(contract.filePath)">
                    <h3>{{contract.filePath}}</h3>
                </a>
                <div class="search-result-content">
                    <ng-container *ngFor="let highlight of contract.highlights.law">
                        <div [innerHTML]="highlight"></div>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="spacer"></div>
</div>