<div class="container">
    <div class="employee-container">
        <div class="title">
            Truck Information
        </div>
        <div class="inputs">
            <div class="header header-border-top header-border-bottom header-background">
                <h2>Basic Information</h2>
            </div>
            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Manufacturer</mat-label>
                    <input [(ngModel)]="truckInfo.manufacturer" matInput placeholder="Manufacturer">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Model</mat-label>
                    <input [(ngModel)]="truckInfo.model" matInput placeholder="Model">
                </mat-form-field>
            </div>

            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Date of Manufacturing</mat-label>
                    <input matInput [(ngModel)]="truckInfo.dateOfManufacturing" [matDatepicker]="picker"
                        placeholder="Date of Manufacturing">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="header header-border-top header-border-bottom header-background">
                <h2>Dimensions</h2>
            </div>
            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Width</mat-label>
                    <input [(ngModel)]="truckInfo.dimensions.width" matInput placeholder="Width">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Depth</mat-label>
                    <input [(ngModel)]="truckInfo.dimensions.depth" matInput placeholder="Depth">
                </mat-form-field>
            </div>
            <div class="header-border-top button-container">
                <button class="full-width add" (click)="updateTruck()" mat-raised-button color="primary">Update</button>
                <button class="full-width fire" (click)="deleteTruck()" mat-raised-button color="primary">Remove</button>
            </div>
        </div>
    </div>
</div>