.content{
    min-height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.title {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 600;
    color: var(--primary-color);
    background-color: var(--accent-color);
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(78, 78, 78, 0.5);
}

.file-name {
    margin-left: 1rem;
}

.upload-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    .upload-button {
        flex-grow: 1;
        width: 100%;
        border-radius: 0;
        background-color: var(--primary-color);
        color: var(--secondary-bg-color);
    }
}

.document-type-container{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    .document-type-button {
        flex-grow: 1;
        width: 100%;
        border-radius: 0;
        background-color: var(--primary-color);
        color: var(--secondary-bg-color);
    }
}

.upload-button {
    width: 100%;
    border-radius: 0;
    background-color: var(--primary-color);
    color: var(--secondary-bg-color);
}