<div class="container">
    <div class="employee-container">
        <div class="title">
            Add Route
        </div>
        <div class="inputs">
            <div class="header header-border-top header-border-bottom header-background">
                <h2>Personal Information</h2>
            </div>
            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Date of Departure</mat-label>
                    <input matInput [(ngModel)]="this.data.dateOfDeparture" [matDatepicker]="departurePicker" placeholder="Date of Departure">
                    <mat-datepicker-toggle matSuffix [for]="departurePicker"></mat-datepicker-toggle>
                    <mat-datepicker #departurePicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Date of Arrival</mat-label>
                    <input matInput [(ngModel)]="this.data.dateOfArrival" [matDatepicker]="arrivalPicker" placeholder="Date of Arrival">
                    <mat-datepicker-toggle matSuffix [for]="arrivalPicker"></mat-datepicker-toggle>
                    <mat-datepicker #arrivalPicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="header header-border-top header-border-bottom header-background">
                <h2>Cargo</h2>
            </div>
            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Description</mat-label>
                    <input [(ngModel)]="this.data.cargo.description" matInput placeholder="Description">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Weight</mat-label>
                    <input [(ngModel)]="this.data.cargo.weight" type="number" matInput placeholder="Weight">
                </mat-form-field>
            </div>
            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Width</mat-label>
                    <input [(ngModel)]="this.data.cargo.volume.width" type="number" matInput placeholder="Width">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Depth</mat-label>
                    <input [(ngModel)]="this.data.cargo.volume.depth" type="number" matInput placeholder="Depth">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Height</mat-label>
                    <input [(ngModel)]="this.data.cargo.volume.height" type="number" matInput placeholder="Height">
                </mat-form-field>
            </div>
            <div class="header header-border-top header-border-bottom header-background">
                <h2>Money Received</h2>
            </div>
            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Amount</mat-label>
                    <input [(ngModel)]="this.data.received.amount" type="number" matInput placeholder="Amount">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Currency</mat-label>
                    <input readonly [(ngModel)]="this.data.received.currency" matInput placeholder="Currency">
                </mat-form-field>
            </div>
            <div class="header header-border-top header-border-bottom header-background">
                <h2>Origin</h2>
            </div>
            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Street</mat-label>
                    <input [(ngModel)]="this.data.origin.street" matInput placeholder="Street">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>City</mat-label>
                    <input [(ngModel)]="this.data.origin.city" matInput placeholder="City">
                </mat-form-field>
            </div>
            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>State</mat-label>
                    <input [(ngModel)]="this.data.origin.state" matInput placeholder="State">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Postal Code</mat-label>
                    <input [(ngModel)]="this.data.origin.postalCode" matInput placeholder="Postal Code">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Country</mat-label>
                    <input [(ngModel)]="this.data.origin.country" matInput placeholder="Country">
                </mat-form-field>
            </div>
            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Longitude</mat-label>
                    <input [(ngModel)]="this.data.origin.gpsCoordinate.longitude" type="number" matInput
                        placeholder="Longitude">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Latitude</mat-label>
                    <input [(ngModel)]="this.data.origin.gpsCoordinate.latitude" type="number" matInput
                        placeholder="Latitude">
                </mat-form-field>
            </div>
            <div class="header header-border-top header-border-bottom header-background">
                <h2>Destination</h2>
            </div>
            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Street</mat-label>
                    <input [(ngModel)]="this.data.destination.street" matInput placeholder="Street">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>City</mat-label>
                    <input [(ngModel)]="this.data.destination.city" matInput placeholder="City">
                </mat-form-field>
            </div>
            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>State</mat-label>
                    <input [(ngModel)]="this.data.destination.state" matInput placeholder="State">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Postal Code</mat-label>
                    <input [(ngModel)]="this.data.destination.postalCode" matInput placeholder="Postal Code">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Country</mat-label>
                    <input [(ngModel)]="this.data.destination.country" matInput placeholder="Country">
                </mat-form-field>
            </div>
            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Longitude</mat-label>
                    <input [(ngModel)]="this.data.destination.gpsCoordinate.longitude" type="number" matInput placeholder="Longitude">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Latitude</mat-label>
                    <input [(ngModel)]="this.data.destination.gpsCoordinate.latitude" type="number" matInput placeholder="Latitude">
                </mat-form-field>
            </div>
            <div class="header-border-top button-container">
                <button class="full-width add" mat-raised-button color="primary" (click)="addRoute()">Add Route</button>
            </div>
        </div>
    </div>
</div>