<div class="content">
    <nav class="nav-bar">
        <a routerLink="" class="logo">
            <img src="../../../assets/logo-small.png" alt="Company Logo">
        </a>
        <a class="login" mat-button routerLink="/login">Login</a>
    </nav>
    <div class="company-simple-info background-effect background-test">
        <div class="name">
            <div class="content">
                <h1>Krystal</h1>
                <h3>The place to manage your transport company!</h3>
                <div class="buttons">
                    <button class="button contact" mat-raised-button color="primary">Contact us</button>
                    <button class="button learn" mat-raised-button color="warn">Learn More</button>
                </div>
            </div>
        </div>
        <div class="image-container">
            <div class="image">
                <img src="../../../assets/logo.png" alt="Company Image">
            </div>
        </div>
    </div>
    <div class="cards">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Company Management</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/company.jfif" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    See the ammount of employess your company has, monthly expendature and other information useful for planning
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Employee management</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/employees.jfif" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Manage your drivers and see their personal information, their pay and how they are performing
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card" >
            <mat-card-header>
                <mat-card-title>Fleet management</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/van.jfif" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    See where your vehicles are, their condition and who's driving the vehicle
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>