<div class="container">
    <div class="header">
        User Info
    </div>
    <div class="content">
        <div class="info">
            <div class="info-header">
                <h1>Basic Information</h1>
            </div>
            <div class="info-body">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name">
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Middle Name</mat-label>
                    <input matInput placeholder="Middle Name">
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name">
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button>Save</button>
            </div>
        </div>

        <div class="info">
            <hr>
            <div class="info-header">
                <h1>Salary</h1>
            </div>
            <div class="info-body">
                <mat-form-field appearance="outline">
                    <mat-label>Salary</mat-label>
                    <input matInput placeholder="Salary">
                </mat-form-field>

                <button mat-raised-button>Change</button>
            </div>
        </div>

        <div class="info">
            <hr>
            <div class="info-header">
                <h1>Vehicle</h1>
            </div>
            <div class="info-body">
                <mat-form-field appearance="outline">
                    <mat-label>Vehicle</mat-label>
                    <input matInput placeholder="Vehicle">
                </mat-form-field>

                <button mat-raised-button>Asign Vehicle</button>
            </div>
            
        </div>
        <div class="fire-container">
            <hr>
            <button mat-raised-button>Fire</button>
        </div>

    </div>
</div>