<div class="container">
    <div class="employee-container">
        <div class="title">
            Van Information
        </div>
        <div class="inputs">
            <div class="header header-border-top header-border-bottom header-background">
                <h2>Personal Information</h2>
            </div>
            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Middle Name</mat-label>
                    <input matInput placeholder="Middle Name">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name">
                </mat-form-field>
            </div>
            
            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Salary</mat-label>
                    <input matInput placeholder="Salary">
                </mat-form-field>
            </div>
            <div class="header header-border-top header-border-bottom header-background">
                <h2>Location of residence</h2>
            </div>
            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Street</mat-label>
                    <input matInput placeholder="Street">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="City">
                </mat-form-field>
            </div>
            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>State</mat-label>
                    <input matInput placeholder="State">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Postal Code</mat-label>
                    <input matInput placeholder="Postal Code">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Country</mat-label>
                    <input matInput placeholder="Country">
                </mat-form-field>
            </div>
            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Longitude</mat-label>
                    <input matInput placeholder="Longitude">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Latitude</mat-label>
                    <input matInput placeholder="Latitude">
                </mat-form-field>
            </div>
            <div class="header-border-top button-container">
                <button class="full-width add" mat-raised-button color="primary">Add Employee</button>
            </div>
        </div>
    </div>
</div>