<div class="container">
    <div class="employee-container">
        <div class="title">
            Add Trailer
        </div>
        <div class="inputs">
            <div class="header header-border-top header-border-bottom header-background">
                <h2>Capacity</h2>
            </div>
            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Width</mat-label>
                    <input [(ngModel)]="trailerInfo.width" matInput placeholder="Width">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Depth</mat-label>
                    <input [(ngModel)]="trailerInfo.depth" matInput placeholder="Depth">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Height</mat-label>
                    <input [(ngModel)]="trailerInfo.height" matInput placeholder="Height">
                </mat-form-field>
            </div>
            <div class="flex-space-between gap-20">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Maximum carry weight</mat-label>
                    <input [(ngModel)]="trailerInfo.maxCarryWeight" matInput placeholder="Maximum carry weight">
                </mat-form-field>
            </div>
            <div class="header-border-top button-container">
                <button class="full-width add" (click)="addNewTrailer()" mat-raised-button color="primary">Add</button>
            </div>
        </div>
    </div>
</div>